.content-heading{    
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px dashed var(--light-gray);
}

.board-columns-container{
    display: flex;
    padding: 1rem;
    font-family: 'LatoSemibold';
}

.board-columns{
    max-width: 205px;
    margin: 1rem;
    height: 70vh;;
}

.board-columns-heading{

}

.board-drop-location{
    height: 36px;
    background: var(--white);
}

.board-items{
    background-color: var(--white);
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(54,78,126,.102);
    width: 200px;
    font-weight: bold;
}