.card-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    overflow: scroll;
}

.resize-card{
	border: 1px solid var(--light-gray);
	height: 20vh;
	cursor: ew-resize;
	
}