:root {
  --primary: #0b73eb;
  --info: #33b1ff;
  --success: #009d9a;
  --danger: #fa4d56;
  --custom: #012636;

  --dark: #010101;
  --white: #fefefe;
  --gray: #f8f9fa;

  --lightest-gray: #dde1e3;
  --light-gray: rgb(144, 144, 144);
  --medium-gray: #828fa3;
  --dark-gray: rgb(13, 13, 13);

  --sidebar-width: 200px;
  --header-height: 40px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../public/fonts/lato-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('../public/fonts/lato-semibold.ttf') format('truetype');
}


*, *:after, *:before {
box-sizing: border-box;
  font-family: LatoRegular;
}

.icon{
  height: 20px;
  font-weight: bold;
}

.text-muted{
    text-align: center;
    font-size: .875rem;
    color: #8597a3;
}

.w-50{
    width: 50%;
}

.mt-0{
    margin-top: 0 !important;
}

.d-flex{
  display: flex;
}

.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor-pointer{
  cursor: pointer;
}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}


